.glass-card {
  display: block;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 240px;
  max-width: 240px;
  min-width: 240px;
  min-height: 200px;
  height: 200px;
  margin-top: 10px;
}
.step-number-header {
  top: -42px;
  left: 10px;
  font-size: 60px;
  font-weight: bold;
  color: #90CAF9;
}

.step-header {
  font-size: 14px;
}

.step-txt {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.feature-header {
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.features-card {
    display: block;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    min-height: 180px;
    height: 180px;
    margin-top: 10px;
}

.feature-icon{
    font-size: 40px !important; 
}

@media (max-width: 1750px) {
    .features-card{
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        min-height: 150px;
        height: 150px;
    }
    .feature-header {
        font-size: 16px;
      }
}