@mixin blue-price($size) {
  font-size: $size;
  font-weight: bold;
  color: #90caf9;
}

.pricing-item-box {
  width: 150px;
  .price-header {
    font-size: 14px;
  }
}

.pricing-table {
  border-collapse: collapse;
  width: 80%;
  min-width: 300px;
}

.pricing-cell {
  padding: 10px 20px;
}

.pricing-cell:last-child {
  font-size: 14px;
}

.pricing-cell:first-child {
  @include blue-price(30px);
}

.pricing-row {
  border-bottom: 1px solid rgb(75, 75, 75);
}
.pricing-row:last-child {
  border-bottom: none;
}

.pricing-calc-container {
  width: 35%;
  min-width: 420px;

  .price-span {
    @include blue-price(24px);
  }
}
.total-price-container {
  border-top: 1px solid rgb(75, 75, 75);
}

@media (max-width: 1700px) {
  .pricing-cell:last-child {
    font-size: 12px;
  }
  .pricing-cell:first-child {
    @include blue-price(26px);
  }
  .pricing-row:first-child .pricing-cell {
    padding-top: 0;
  }
}
