.landing-header {
    font-size: 45px;
}

.carousel-container {
    width: 400px;
    overflow: hidden;
  }
  
  .carousel {
    width: fit-content;
    animation: carousel-animation 20s ease-in-out infinite;
  }
  
  .carousel img {
    width: 100px;
    margin-right: 20px;
  }
  
  @keyframes carousel-animation {
    0% {
      transform: translateX(0);
    }
    90% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  