.video-bg {
  z-index: -1;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
.video-bg-shadow {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}
.video {
  min-width: 1920px;
  z-index: -1;
}
